streamlit
langchain>=0.2.0
langchain-community>=0.2.0
langchain-core>=0.2.0
langchain-groq>=0.1.5
langchain-huggingface>=0.0.3
tavily-python
python-dotenv
pypdf
faiss-cpu
sentence-transformers
huggingface-hub
requests
gTTS