streamlit
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.23
langchain-groq==0.1.6
langchain-huggingface==0.0.3
tavily-python==0.3.3
python-dotenv
pypdf
faiss-cpu
sentence-transformers
huggingface-hub
requests
gTTS